<h1>{{ title }}</h1>
<form class="form-horizontal" #userForm="ngForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <fieldset>
                <legend>
                    Benutzer
                </legend>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <input [(ngModel)]="user.name" id="name" name="name" #name="ngModel" required type="text" class="form-control">
                    <div>
                        <span *ngIf="name.untouched">ng-untouched</span>
                        <span *ngIf="name.touched">ng-touched</span>
                        <span *ngIf="name.pristine">ng-pristine</span>
                        <span *ngIf="name.dirty">ng-dirty</span>
                        <span *ngIf="name.valid">ng-valid</span>
                        <span *ngIf="name.invalid">ng-invalid</span>
                    </div>
                    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                        Name ist ein Pflichtfeld.
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input [(ngModel)]="user.email" id="email" name="email" #email="ngModel" type="text" class="form-control">
                    <div *ngIf="email.touched && email.errors?.required" class="alert alert-danger">
                        Email-Adresse ist ein Pflichtfeld.
                    </div>
                    <div *ngIf="email.touched && email.errors?.invalidEmail" class="alert alert-danger">
                        Bitte geben Sie eine korrekte Email-Adresse ein.
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="phone">Telefon</label>
                    <input [(ngModel)]="user.phone" name="phone" #phone="ngModel" id="phone" type="text" class="form-control">
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <button (click)="addAdress()" class="btn btn-raised btn-primary">
                Adresse hinzufügen
            </button>
            <div *ngIf="addressVisible">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <button [disabled]="userForm.invalid" type="submit" class="btn btn-raised btn-primary">
                Speichern
            </button>
        </div>
    </div>
</form>