<h2> Posts </h2>

<div class="container">
    <div class="row">
        <div class="col-sm-7 bootcards-cards">
            <div class="panel panel-default" *ngFor="let post of posts">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">{{ post.title }} <small>({{ post.date | date : "dd.MM.yyyy HH:mm:ss" }})</small></h3>
                    <a class="btn btn-primary pull-right" href="#">
                        <i class="glyphicon glyphicon-edit"></i> Bearbeiten
                    </a>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <p class="list-group-item-text">by</p>
                        <h4 class="list-group-item-heading">{{ getUserName(post)}}</h4>
                    </div>
                    <div class="list-group-item">
                        <p class="list-group-item-text">Occupation</p>
                        <h4 class="list-group-item-heading">Web Developer</h4>
                    </div>
                    <div class="list-group-item">
                        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris tellus, vehicula ut tellus
                            id, suscipit dapibus tortor. Integer viverra turpis ac fringilla hendrerit. Sed faucibus posuere
                            felis et pellentesque. Cras varius tortor vitae molestie tempor. Proin ut viverra elit, ac gravida
                            tortor.
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <small>Built with Bootcards - Base Card</small>
                </div>
            </div>

        </div>
    </div>
</div>