<h2> Posts </h2>

<div class="container">
    <div class="row">
        <div class="col-sm-7 bootcards-cards">
            <div class="panel panel-default" *ngFor="let post of posts">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">{{ post.title }} <small>({{ post.date | date : "dd.MM.yyyy HH:mm:ss" }})</small></h3>
                    <div (click)="removePost(post)" class="btn btn-danger pull-right">
                        <i class="glyphicon glyphicon-remove"></i>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <p class="list-group-item-text">by</p>
                        <h4 class="list-group-item-heading">{{ getUserName(post)}}</h4>
                    </div>
                    <div class="list-group-item">
                        <p class="list-group-item-text">{{post.body }}
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-primary pull-right" href="#">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>